---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import PageHeader from '@/components/elements/PageHeader.astro';
import BlogCard from '@/components/cards/BlogCard.astro';

const allPosts = await getCollection('blogs');
const posts = allPosts
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .map((post) => ({
    slug: post.id.replace(/\/index$/, ''),
    ...post,
    data: {
      ...post.data,
      link: `/blogs/${post.id.replace(/\/index$/, '')}`,
    },
  }));
---

<Layout title="Blogs" description="Just sharing my thoughts and research">
  <section class="relative z-20 container mx-auto my-12 px-7 lg:px-0">
    <PageHeader
      title="Blogs"
      description="Just sharing my thoughts and research"
    />
  </section>

  <section class="relative z-20 mx-auto my-12 lg:px-0">
    {posts.length > 0 ? (
      <div class="site-container grid gap-x-6 gap-y-10 md:grid-cols-2 xl:grid-cols-3">
        {posts.map((post, index) => (
          <BlogCard
            content={{ ...post.data, ...post }}
            data-aos={Math.floor(index / 3) % 2 === 0 ? 'fade-right-sm' : 'fade-left-sm'}
            data-aos-delay={((index % 3) + 1) * 200}
          />
        ))}
      </div>
    ) : (
      <div class="site-container text-center text-neutral-600 dark:text-neutral-300">
        No blog posts yet.
      </div>
    )}
  </section>
</Layout>
